* {
    box-sizing: border-box;
}
body{ 
    font-size: large;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
    position: fixed;
  }
  li {
    float: left;
  }
  li a, .dropbtn{
    display: block;
    color: #000;
    padding: 8px ;
    text-decoration: none;
    text-align: center;
 }

  li a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white; }

    li a:hover:not(.active) {
        background-color: #111;
       }
    

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      

      .dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .header{background-color: #04AA6D; 
    padding: .0043%;
    margin: 1px;
    text-align: center;
background-size: 0;
  }
  .header h1{
    font-size: 50px;
  }
  .topnav{  
background-color: rgb(14, 13, 13); overflow: hidden;
  }
  .topnav a {
    color: white;
    float: left; display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
  }
  .topnav a:hover{
    background-color: white; color: blue;
  }
  .leftcolumn{float: left;
width: 75%;
  }
  .rightcolumn {
float: left; width: 25%; background-color: #3e8e41; padding: 20px;
  }
  .fakeimg {
    background-color: #aaa;
    width: 90%;
    padding: 20px;
  }
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer {
    
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
    }

    @media screen and (max-width: 400px) {
        .topnav a {
          float: none;
          width: 100%;
        }
      }

  